# Arquivos gerados automaticamente
obj/
bin/

# Arquivos de configuração
*.user
*.suo
*.appxManifest
*.vscode

# Cache e arquivos temporários
[Tt]humbs.db
*.DS_Store
*.tmp
*.temp

# Arquivos de log
*.log

# Arquivos de compilação
*.dll
*.exe
*.pdb
*.dll.config

# Diretório de pacotes NuGet
packages/

# Visual Studio
.vscode/
.vs/
*.sln.ide
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

# Rider
.idea/
*.iml

# Ferramentas de build e pacotes
_ReSharper.*
*.ReSharper*
*.resharper.user
_ReSharper*/
*.dotCover
*.dotSettings
*.nunit
*.VisualState.xml
/.vs/ECJ-Compras/v17/.suo
/.vs/ECJ-Compras/FileContentIndex/
/.vs/ProjectEvaluation/
/.vs/ECJ-Compras/DesignTimeBuild/.dtbcache.v2
/Dominio/obj/Debug/net6.0/Dominio.assets.cache
/Dominio/obj/Debug/net6.0/Dominio.csproj.AssemblyReference.cache
/Dominio/obj/Debug/net6.0/Dominio.csproj.CoreCompileInputs.cache
/Dominio/obj/Debug/net6.0/Dominio.csproj.FileListAbsolute.txt
/Dominio/obj/Debug/net6.0/Dominio.GeneratedMSBuildEditorConfig.editorconfig
/Dominio/obj/Dominio.csproj.nuget.dgspec.json
/Dominio/obj/project.assets.json
/Dominio/obj/Dominio.csproj.nuget.g.props
/Dominio/obj/project.nuget.cache
/ECJ-Compras/obj/project.nuget.cache
/ECJ-Compras/obj/Debug/net6.0/ECJ-Compras.assets.cache
/ECJ-Compras/obj/Debug/net6.0/ECJ-Compras.csproj.AssemblyReference.cache
/ECJ-Compras/obj/Debug/net6.0/ECJ-Compras.csproj.CoreCompileInputs.cache
/ECJ-Compras/obj/Debug/net6.0/ECJ-Compras.csproj.FileListAbsolute.txt
/ECJ-Compras/obj/Debug/net6.0/ECJ-Compras.GeneratedMSBuildEditorConfig.editorconfig
/ECJ-Compras/obj/Debug/net6.0/project.razor.vs.json
/ECJ-Compras/obj/ECJ-Compras.csproj.nuget.dgspec.json
/ECJ-Compras/obj/ECJ-Compras.csproj.nuget.g.props
/ECJ-Compras/obj/project.assets.json
/.vs/ECJ-Compras/v17/.futdcache.v2
/ECJ-Compras/bin/Debug/net6.0/ECJ-Compras.dll
/ECJ-Compras/bin/Debug/net6.0/ECJ-Compras.pdb
/ECJ-Compras/obj/*
/Dominio/bin/*
/Dominio/bin/Debug/net6.0/Dominio.pdb
/Dominio/obj/Debug/net6.0/Dominio.dll
/Dominio/obj/Debug/net6.0/Dominio.pdb
/ECJ-Compras/bin/*
/ECJ-Compras/bin/Debug/net6.0/ECJ-Compras.staticwebassets.runtime.json
/ECJ-Compras/obj/Debug/net6.0/staticwebassets/msbuild.ECJ-Compras.Microsoft.AspNetCore.StaticWebAssets.props
/ECJ-Compras/obj/Debug/net6.0/staticwebassets.build.json
/ECJ-Compras/obj/Debug/net6.0/staticwebassets.development.json
/ECJ-Compras/obj/Debug/net6.0/staticwebassets.pack.json
/.vs/ECJ-Compras/config/applicationhost.config
/ECJ-Compras/bin/Debug/net6.0/ECJ-Compras.exe
/ECJ-Compras/obj/Debug/net6.0/apphost.exe
/ECJ-Compras/obj/Debug/net6.0/ECJ-Compras.genruntimeconfig.cache
/Dominio/bin/Debug/net6.0/Dominio.dll
/Dominio/bin/Debug/net6.0/Dominio.pdb
/Dominio/obj/Debug/net6.0/ref/Dominio.dll
/Dominio/obj/Debug/net6.0/refint/Dominio.dll
/Dominio/obj/Debug/net6.0/Dominio.dll
/Dominio/obj/Debug/net6.0/Dominio.pdb
/ECJ-Compras/bin/Debug/net6.0/Dominio.dll
/ECJ-Compras/bin/Debug/net6.0/Dominio.pdb
